:root {
    --bg-color: rgb(117, 219, 205);
    --text-color: rgb(0, 46, 44);
    --nav-color: rgb(3, 94, 123);
    --nav-button-background: rgb(228, 193, 249);
    --nav-button-border: rgb(247, 225, 215);
}

* {
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    font-size: 18px;
}

.navbar {
    background: var(--nav-color);
    padding: 2em;
}


li {
    list-style-type: none;
    background: var(--nav-color);
}

li a {
    text-decoration: none;
    padding: 1em;
    margin: 0 5px;
    color: var(--text-color);
    border: 1px solid var(--nav-button-border);
    border-radius: 10px;
    background: var(--nav-button-background);
}

li a:hover {
    text-decoration: none;
    padding: 1em;
    margin: 0 5px;
    color: black;
    border: 1px solid var(--nav-button-border);
    border-radius: 10px;
    background: var(--bg-color);
}